<h1>Your Pragmatic Catlog</h1>
<% for product in @products -%>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title%></h3>
		<%= product.description %>
		<div class="price_line">
			<span class="price">
				<%= number_to_currency(product.price) %>
				<%= button_to 'Add To Cart' %>
			</span>
		</div>
	</div>
<% end %>